body {
    background-image: url(../../../assets/img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* overflow-y: hidden; */
    font-family: 'Press Start 2P', cursive;
}

.wrapper {
    min-height: 100vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    place-items: center;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 0px 5px;
}

.container-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 250px;
    height: 150px;
    border-radius: 0;
    position: relative;
    border: 4px solid black;
    box-shadow:
        4px 4px 0 0 black,
        8px 8px 0 0 #333,
        12px 12px 0 0 #555;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s all;
}

.container-content:hover{
    transform: scale(1.1);
}

.j1 {
    background-image: url(../../../assets/img/journey/j1.jpeg);
}

.j2 {
    background-image: url(../../../assets/img/journey/j2.jpeg);
}

.j3 {
    background-image: url(../../../assets/img/journey/j3.jpeg);
}

.j4 {
    background-image: url(../../../assets/img/journey/j4.jpeg);
}

.j5 {
    background-image: url(../../../assets/img/journey/j5.jpeg);
}

.j6 {
    background-image: url(../../../assets/img/journey/j6.jpeg);
}

.j7 {
    background-image: url(../../../assets/img/journey/j7.jpeg);
}

.j8 {
    background-image: url(../../../assets/img/journey/j8.jpeg);
}

.j9 {
    background-image: url(../../../assets/img/journey/j9.jpeg);
}

.j10 {
    background-image: url(../../../assets/img/journey/j10.jpeg);
}

.j11 {
    background-image: url(../../../assets/img/journey/j11.jpeg);
}

.j12 {
    background-image: url(../../../assets/img/journey/j12.jpeg);
}

.j13 {
    background-image: url(../../../assets/img/journey/j13.jpeg);
}

.j14 {
    background-image: url(../../../assets/img/journey/j14.jpeg);
}

.j15 {
    background-image: url(../../../assets/img/journey/j15.jpeg);
}

.j16 {
    background-image: url(../../../assets/img/journey/j16.jpeg);
}

.j17 {
    background-image: url(../../../assets/img/journey/j17.jpeg);
}

.j18 {
    background-image: url(../../../assets/img/journey/j18.jpeg);
}

.j19 {
    background-image: url(../../../assets/img/journey/j19.jpeg);
}

.j20 {
    background-image: url(../../../assets/img/journey/j20.jpeg);
}

.j21 {
    background-image: url(../../../assets/img/journey/j21.jpeg);
}

.j22 {
    background-image: url(../../../assets/img/journey/j22.jpeg);
}

.j23 {
    background-image: url(../../../assets/img/journey/j23.jpeg);
}

.j24 {
    background-image: url(../../../assets/img/journey/j24.jpeg);
}

.j25 {
    background-image: url(../../../assets/img/journey/j25.jpeg);
}

.j26 {
    background-image: url(../../../assets/img/journey/j26.jpeg);
}

.j27 {
    background-image: url(../../../assets/img/journey/j27.jpeg);
}

.j28 {
    background-image: url(../../../assets/img/journey/j28.jpeg);
}

.j29 {
    background-image: url(../../../assets/img/journey/j29.jpeg);
}

.j30 {
    background-image: url(../../../assets/img/journey/j30.jpeg);
}

.j31 {
    background-image: url(../../../assets/img/journey/j31.jpeg);
}

.j32 {
    background-image: url(../../../assets/img/journey/j32.jpeg);
}

.j33 {
    background-image: url(../../../assets/img/journey/j33.jpeg);
}

.j34 {
    background-image: url(../../../assets/img/journey/j34.jpeg);
}

.j35 {
    background-image: url(../../../assets/img/journey/j35.jpeg);
}

.j36 {
    background-image: url(../../../assets/img/journey/j36.jpeg);
}

.j37 {
    background-image: url(../../../assets/img/journey/j37.jpeg);
}

.j38 {
    background-image: url(../../../assets/img/journey/j38.jpeg);
}

.j39 {
    background-image: url(../../../assets/img/journey/j39.jpeg);
}

.j40 {
    background-image: url(../../../assets/img/journey/j40.jpeg);
}


.back {
    margin-top: 2rem;
}

.back a img {
    width: 50px;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-y: visible;
    }

    .wrapper {
        margin-top: 1rem;
    }

    .container {
        flex-direction: column;
    }
}